<div class="main-container">
  <div class="fixed-background min-vh-100 min-vw-100">
    <div class="">
      <div class="banner" style="background-image: url(images/me.png);">
          <h1>Will VanderWyden</h1>
          <p>Developer/Musician</p>
      </div>
    </div>
  </div>
  <div class="main-project bg-light">
    <div class="all-content">
      <div class="project-container bg-light">
        <h1 class="my-5 main-title mb-3">Projects</h1>
        <p class="text-warning">(some still in progress)</p>
        <%= partial "partials/_pl.html" %>
        <%= partial "partials/_potify.html" %>
        <%= partial "partials/_lop.html" %>
      </div>
  
      <div class="js-container bg-light"> 
        <h1 class="mb-5 js-projects-title">Mini JavaScript Projects</h1>
        <div>
        <div class="row mt-5">
            <%= partial "partials/_js_clock.html" %>
            <%= partial "partials/_flex_panel.html" %>
        </div>

        <div class="row">
            <%= partial "partials/_js-colors.html" %>
            <%= partial "partials/_guess.html" %>
        </div>

        <div class="row">
            <%= partial "partials/_js_calculator.html" %>
            <%= partial "partials/_react-todo.html" %>
        </div>

                <div class="row">
            <%= partial "partials/_js-checkbox.html" %>
            <%= partial "partials/_react-todo.html" %>
        </div>
        
        </div>
        
      </div>
    </div> 
  </div>
</div>
