<div class="main-container">
  <div class="fixed-background min-vh-100 min-vw-100">
    <div class="">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/ronin_big.jpg);">
          <h1>Will VanderWyden</h1>
          <p>Developer/Musician</p>
      </div>
    </div>
  </div>
  <div class="main-project bg-light">
    <div class="all-content">
      <div class="project-container">
        <%= partial "partials/_pl.html" %>
        <%= partial "partials/_potify.html" %>
        <%= partial "partials/_lop.html" %>
      </div>
  
      <div class="js-container">
        <div class="row">
        
            <%= partial "partials/_js_clock.html" %>
            <%= partial "partials/_flex_panel.html" %>
        </div>

        <div class="row">
            <%= partial "partials/_js-colors.html" %>
        </div>
        
      </div>
    </div> 
  </div>
</div>